.guess-card {
  border-radius: 5px;
  height: 10%;
  width: 100%;
}

.guess-card-part-1 {
  display: flex;
  margin: 0 auto;
}

.guess-card-num {
  align-items: center;
  border-color: #e8ebef;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  width: 25%;
}

.guess-card-num-1,
.guess-card-num-2,
.guess-card-num-3 {
  border-right: 1px solid #fff
}

.guess-card-num-4 {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.guess-card-num-1 {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.guess-card-part-2 {
  margin: 0 auto;
}

.guess-card-part-2-msg {
  color: #4c555f;
  font-size: 12px;
  padding-left: 5px;
  white-space: nowrap;
}

p {
  margin: 0
}