.end-of-round-msg-the-code {
  align-items: center;
  background: #dbdde0;
  border-radius: 5px;
  border: 1px solid #828282;
  display: flex;
  height: 60px;
  justify-content: space-around;
  margin: 40px 0 60px 0;
  padding: 3px;
  width: 100%;
}

.end-of-round-msg-the-code-num {
  background-color: #343a40;
  border-radius: 50%;
  color: #fff;
  font-size: 2em;
  height: 50px;
  text-align: center;
  width: 50px;
}

.end-of-round-msg-title {
  font-size: 18px;
  margin-bottom: 25px;
  text-align: center;
}

element.style {
  display: block;
}

.end-of-round-msg-modal-header {
  border-radius: 0;
  border: none;
}

.end-of-round-msg-modal {
  display: none;
  height: 100%;
  left: 35vw;
  outline: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 65vw;
  z-index: 1050;
}

.end-of-round-msg-points-title {
  color: gray;
  font-size: 11px;
  margin-top: 20px;
}

.end-of-round-msg-points-point {
  color: #007bff;
  font-size: 30px;
  font-weight: bold;
}

.end-of-round-msg-click-outside {
  bottom: 2px;
  color: gray;
  font-size: 11px;
  left: 5px;
  position: absolute;
}

.end-of-round-msg-modal-body {
  position: relative;
}

.do-it-again-title {
  margin-top: 36px;
}

.modal-header .close {
  color: #fff;
  cursor: pointer;
  margin: -1rem -1rem -1rem auto;
  outline: none;
  padding: 1rem 1rem;
  padding: 20px 17px 0 0;
}


@media screen and (max-width: 900px) {

}