
.guessing-form {
  width: 100%;
  max-width: 320px;
  margin: 15px 0;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
}


.guss-num-input-container {
  display: flex;
  justify-content: space-between;
}


.submit-guess-btn {
  position: relative;
	font-size: 22px;
	border-radius: 6px;
	text-align: center;
  width: 100%;
  margin-top: 25px
}

.guess-num-input {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: 2px solid;
  font-size: 24px;
}

.guess-num-input-1 {
  background: hsla(354, 70%, 54%, 0.2);
}

.guess-num-input-2 {
  background: hsla(211, 100%, 50%, 0.2);
}

.guess-num-input-3 {
  background: hsla(45, 100%, 52%, 0.2);
}

.guess-num-input-4 {
  background: hsla(134, 62%, 39%, 0.2);
}

