
.gussing-form {
  width: 100%;
  max-width: 320px;
  margin-bottom: 10px;
}


.guss-num-input-container {
  display: flex;
  justify-content: space-between;
}

.submit-guess-btn {
   width: 100%;
   border-radius: 45px;
   margin-top: 20px;
   cursor: pointer;
}

.guess-num-input {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: 2px solid;
  background: rgb(238, 241, 243);
  font-size: 24px;
  /* color: #bbc3ce; */
}

