.show-guesses {
  border: 1px solid gray;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.guess-card {
  height: 10%;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background: #e8ebef;
  padding: 2px;
}

.guess-card-part-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.guess-card-num {
  margin: 0;
  border: 4px solid;
  border-color: #e8ebef;
  background: #7a8896;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.guess-card-part-2-msg {
  margin: 0;
  font-size: 11px;
  color: #626d79;
  padding-left: 5px;
}

p {
  margin: 0;
}
