.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-red-logo {
    height: 26px;
    margin-left: 6px;
}

.welcome-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 120px 0;
}

.welcome-body {
    font-size: 24px;
    max-width: 600px;
}

.welcome-btn {
    color: #fff;
    font-size: 20px;
    /* border: 1px solid rgb(70, 72, 77); */
    text-decoration: none;
    border-radius: 3px;
    padding: 6px 13px;
    border: 1px oslid rgb(70, 72, 77);
    background: #DC3545;
  }

  .welcome-btn-instructions {
      background: #FFC108;
  }

  .welcome-btn-instructions:hover {
    background: rgba(255, 193, 8, 0.85);
}

.welcome-btn-game:hover {
    background: hsla(354, 70%, 54%, 0.85);
}
  
  .welcome-btn:hover {
    text-decoration: none;
    color: #fff;
  }

  .welcome-page-btns-container {
      margin-top: 100px;
      display: flex;
      justify-content: space-between;
      width: 350px;
  }