.settings-title {
  margin: 60px 0 20px 0;
}

.settings-note {
  color: rgb(118, 128, 134);
  font-size: 11px;
  padding: 5px;
}

.settings-modal-body {
  padding: 0 30px 30px 30px;
}

.settings-modal-body-restart {
  padding: 30px;
}

.settings-header {
  color: #fff;
  background-color: #26A243;
}

