.show-guesses {
  border: 1px solid gray;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.guess-card {
  border: 1px solid red;
  height: 10%;
  width: 100%;
}

.guess-card-part-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.guess-card-num {
  margin: 0;
  border-color: #e8ebef;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.guess-card-num-1,
.guess-card-num-2,
.guess-card-num-3 {
  border-right: 1px solid #fff
}

.guess-card-num-4 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.guess-card-num-1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.guess-card-part-2-msg {
  font-size: 12px;
  color: #4c555f;
  padding-left: 5px;
  white-space: nowrap;
}

p {
  margin: 0
}


