.instructions-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(250, 250, 250);
}

.instructions-red-logo {
  height: 26px;
  margin-right: 6px;
}

.instructions-header {
  margin-top: 9px;
  color: #ffc108;
}

.instructions-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 120px 0;
}

.instructions-body {
  font-size: 24px;
  max-width: 600px;
  color: #4b5056;
}

.instructions-btn-game {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  border-radius: 3px;
  padding: 6px 13px;
  border: 1px oslid rgb(70, 72, 77);
  background: #dc3546de;
  margin: 19px auto 0 14px;
}

.instructions-btn-game:hover {
  background: #dc3545;
  text-decoration: none;
  color: #fff;
}

.instructions-page-btns-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.instr-img {
  height: 500px;
}

.instr-img-container {
  margin-top: 80px;
}

.instructions-page-btns-container {
  position: fixed;
  right: 10px;
  bottom: 15px;
}

.instructions-imgs-instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0 0 0;
  border-top: 1px solid lightgray;
  width: 100%;
  background: #fff;
}

.instructions-prev-next-btn {
  height: 38px;
  width: 60px;
  font-size: 16px;
  font-size: 23px;
  padding: 0;
  border-radius: 0;
}

.instructions-btn-game-2 {
  height: 38px;
  background: #007BFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 12px;
  background: #dc3546de;
}

.instructions-btn-game-2:hover {
  color: #fff;
  text-decoration: none;
  background: #dc3546;
}

.instructions-buttons {
  display: flex;
  width: 32%;
  margin: 50px 0 60px 0;
  justify-content: space-between;
  align-items: center;
  background: #e2e2e2;
}

.instructions-imgs-title {
  margin: 50px 0 70px 0;
  color: #26A243;
}


