.instructions-page {
  align-items: center;
  background: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.instructions-red-logo {
  height: 26px;
  margin-right: 6px;
}

.instructions-header {
  color: #ffc108;
  margin-top: 9px;
}

.instructions-page-header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px 0 120px 0;
}

.instructions-body {
  color: #4b5056;
  font-size: 24px;
  max-width: 600px;
}

.instructions-btn-game {
  background: #dc3546de;
  border-radius: 3px;
  border: 1px solid rgb(70, 72, 77);
  color: #fff;
  font-size: 20px;
  margin: 19px auto 0 14px;
  padding: 6px 13px;
  text-decoration: none;
}

.instructions-btn-game:hover {
  background: #dc3545;
  color: #fff;
  text-decoration: none;
}

.instructions-page-btns-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  width: 350px;
}

.instr-img {
  height: 500px;
}

.instr-img-container {
  margin-top: 80px;
}

.instructions-page-btns-container {
  bottom: 15px;
  position: fixed;
  right: 10px;
}

.instructions-imgs-instructions {
  align-items: center;
  background: #fff;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px 0 0 0;
  width: 100%;
}

.instructions-prev-next-btn {
  border-radius: 0;
  font-size: 16px;
  font-size: 23px;
  height: 38px;
  padding: 0;
  width: 60px;
}

.instructions-btn-game-2 {
  align-items: center;
  background: #007bff;
  background: #dc3546de;
  color: #fff;
  display: flex;
  height: 38px;
  justify-content: center;
  padding: 12px;
}

.instructions-btn-game-2:hover {
  background: #dc3546;
  color: #fff;
  text-decoration: none;
}

.instructions-buttons {
  align-items: center;
  background: #e2e2e2;
  display: flex;
  justify-content: space-between;
  margin: 50px 0 60px 0;
  width: 32%;
}

.instructions-imgs-title {
  color: #26a243;
  margin: 50px 0 70px 0;
}
