.app {
  display: flex;
  justify-content: space-between;
}


.game {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  align-items: center;
}

.guesses-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  position: relative;
  align-items: center;
  margin-bottom: 20px;
}

.app-sidebar-right {
  height: 100vh;
  width: 35vw;
}

.single-feedback {
  font-size: 12px;
  width: 100%;
  background: #d0d0d0;
  padding: 3px;
  border-radius: 2px;
  padding-left: 8px;
  margin-bottom: 9px;
}
