.home-page {
  display: flex;
  justify-content: space-between;
}

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  align-items: center;
  margin: 0 auto;
}

.guesses-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  align-items: center;
  height: calc(100vh - 260px);
}

.app-sidebar-right {
  height: 100vh;
  width: 35vw;
}

.single-feedback {
  font-size: 12px;
  width: 100%;
  background: #d0d0d0;
  padding: 3px;
  border-radius: 2px;
  padding-left: 8px;
  margin-bottom: 9px;
}

.page-not-exist {
  font-size: 18px;
  color: #000;
  padding-bottom: 20px;
}

.back-to-game {
  color: rgb(70, 72, 77);
  font-size: 16px;
  border: 1px solid rgb(70, 72, 77);
  text-decoration: none;
  border-radius: 3px;
  padding: 3px 7px;
  border: 1px oslid rgb(70, 72, 77);
}

.back-to-game:hover {
  background: rgb(70, 72, 77);
  color: #fff;
  text-decoration: none;
}

.page-404 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border-radius: 0;
  border-color: transparent;
  border: none;
}

.modal-header {
  border: none;
  border-radius: 0;
}