.guess-counter {
  display: flex;
  margin: 7px 0 15px 0;
}

.guess-counter-title {
  font-weight: normal;
  margin: 0;
  font-size: 13px;
  width: 120px;
}

.guess-counter-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.single-guess-counter {
  background: #343a40;
  height: 9px;
  width: 10%;
  border-right: 1px solid #dbdde0;
}

.empty {
  background: rgb(183, 183, 183);
}
