.the-code {
  height: 60px;
  width: 100%;
  display: flex;
  margin: 10px 0;
  border: 1px solid gray;
}

.the-code-num {
  border: 1px solid gray;
  width: 25%;
  height: 100%;
  font-size: 3em;
  text-align: center;
}