.app-header {
  width: 100%;
  background: #f1f5f5;
}

.app-header-logo-setting-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4px 6px;
}

.logo {
  width: 178px;
}

.settings-btn {
  background-image: url("../../assets/images/icons8-settings.svg");
  background-repeat: no-repeat;
  font-size: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-size: 23px 23px;
}

.header-difficulty-level {
  color: #6c8496;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  padding: 2px 9px;
  font-size: 12px;
  font-size: 11px;
}

.header-info-container {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 17px 9px 7px 9px;
}
