.successful-rounds-widget {
    width: 300px;
    margin: 40px 0 20px 20px;
}

.success-round-percentage-bar-container {
    border: 1px solid #26A243;
    width: 100%;
    height: 20px;
    border-radius: 3px;
}

.success-round-percentage-bar {
    height: 100%;
    background: #26A243;
    width: 0%;
}

.success-round-percentage {
    width: 100%;
    display: flex;
    justify-content: space-between;
}